@font-face {
  font-family: "Noto sans";
  src: url(notosans/NotoSans-Regular.ttf) format("truetype");
    format("truetype");
}

@media only screen and (max-width: 600px) {
  .chatmaincontainer {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  .chatmaincontainer {
    width: 600px;
  }
}
.chatmaincontainer {
  margin: 10px;
  height: calc(100% - 20px);
}

.tophistory {
  height: calc(100% - var(--bottom-size));
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.bottomeddit {
  height: --bottom-size;
  position: relative;
  bottom: 0;
}

.editbox {
  resize: none;
  height: calc(100%);
  width: calc(100% - 3.6px * 2);
  margin: 0;
}

.chat {
  font-family: Noto sans;

  padding: 5px;
  height: fit-content;
  width: calc(100% - 20px);
  margin: 5px;
  display: flex;
}

.sent {
  background-color: lightblue;
  padding: 6px;
}
.recived {
  background-color: lightgreen;
  padding: 5px;
}

.justleft {
  justify-content: left;
}
.justright {
  justify-content: right;
}

html,
body {
  --bottom-size: 70px;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 37, 37);
}
